<!DOCTYPE html>
<html>
<head>
  <title>SimplecodecastsSaas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--This document is in html.. the .erb extension allows us to add Ruby code like in line 21-->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--This "link_to" converts into an anchor tag, like a html code, but its in Ruby. in the inspect element in the browser it doesnt show as ruby code, it converts to html. -->
      <%= link_to 'Site Name (SAAS)', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",  about_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
  <div class ="container">
    <!-- the following just shows whatever is on the page selected, like if your on the home page it will be replaced by whatever is in the home html -->
    <%= yield %>
  </div>
    
</body>
</html>
